html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

.result-title {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.btn-div {
  text-align: right;
}

.result-img {
  max-width: 100%;
  width: 200px;
  height: auto;
  float: left;
}

.result-div {
  display: block;
  margin: 40px;
  background-color: #E8D5C4;
  border-radius: 15px;
  color: #1b332f;
  overflow: hidden;
  padding: 10px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.result-details {
  margin-left: 220px;
  font-size: 20px;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #72b7c6;
  color: #cef3ed;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  margin-left: 10px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  opacity: 0.75;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

.search-form {
  margin: 20px;
  text-align: center;
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.login-register {
  margin-bottom: 20px;
}

#login-name, #login-pass, #register-name, #register-pass {
  background-color: white;
}

.suggestion-header {
  text-align: center;
}

.suggestions {
  display: inline;
  margin: 10px;
  text-align: center;
}

.suggestions:hover {
  cursor: pointer;
  color: #72b7c6;
}

.suggestions-div {
  text-align: center;
}

#re-roll {
  margin-top: 30px;
}

.saved {
  font-size: 25px;
  color: #008183;
}

.page-header {
  margin-top: 70px;
  text-align: center;
  color: #008183;
}

